{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Braincabin Forum - Add Answer{% endblock title %}

    {% block content %}
        <div class="container mt-4">

            <div class="card mt-4 border-primary">
                <div class="card-header">
                    <span class="text-muted">Asked by: </span>
                    <a href="#" class="link">{{ question.asked_by.username }}</a>
                    <span class="text-muted"> On </span>
                    {{ question.asked_on }}
                </div>
                <div class="card-title nav-link mt-3">
                    {{ question.title }}
                </div>
                <div class="card-body" id="question">
                    {{ question.description|linebreaksbr }}
                </div>
            </div>

            <form method="post" class="mt-4">
                {% csrf_token %}
                <div class="form-group">
                    {{form|crispy}}
                    {{form.media}}
                </div>
                
                <div class="form-group">
                    <button class="btn btn-outline-primary" type="submit">
                        Answer question
                    </button>
                </div>
            </form>
        </div>

    {% endblock content %}