{% load static %}
{% load user_voted %}
{% load bleach_tags %}
{% load markdown_tags %}

<a name="answer{{answer.pk}}"></a>
<div class="card mt-4 border-secondary">
    <div class="card-body" id="answer-{{ forloop.counter0 }}">
        {{ answer.text|bleach|convert_markdown|safe }}
    </div>
    <div class="card-footer d-flex">
        <div class="mr-auto">
            <span id="a-u-{{ answer.pk }}">{{ answer.upvotes.count }}</span>
            <button class="btn pt-0 pb-0"
            onclick="vote(this)"
            data-vote="upvote"
            data-object="answer"
            data-action="{{ answer|user_upvoted_action:user }}"
            data-counter="a-u-{{ answer.pk }}"
            data-pk="{{answer.pk}}"
            style="color:{{ answer|user_upvoted_color:user }}">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                </svg>
            </button>
            <span id="a-d-{{ answer.pk }}">{{ answer.downvotes.count }}</span>
            <button class="btn pt-0 pb-0"
            onclick="vote(this)"
            data-vote="downvote"
            data-object="answer"
            data-action="{{ answer|user_downvoted_action:user }}"
            data-counter="a-d-{{ answer.pk }}"
            data-pk="{{answer.pk}}"
            style="color:{{ answer|user_downvoted_color:user }}">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                </svg>
            </button>
            {% if object.accepted_answer is None %}
                {% if request.user == object.asked_by %}
                    <button
                        data-question="{{ object.pk }}"
                        data-answer="{{ answer.pk }}"
                        class="btn pt-0 pb-0 answer-accept"
                        onclick="acceptAnswer(this)">
                        Mark as accepted
                    </button>
                {% endif %}
            {% elif object.accepted_answer == answer %}
                <span class="text-success">Accepted</span>
            {% endif %}
        </div>
        <div class="ml-auto">
            <span class="text-muted">Answered by: </span>
            <a href="{{answer.answered_by.get_absolute_url}}">{{ answer.answered_by.username }}</a>
            <span class="text-muted"> on {{ answer.answered_on }}</span>
        </div>
    </div>
</div>
