{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Braincabin Forum - Ask{% endblock title %}

    {% block content %}

        <div class="container mt-4">
            <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form|crispy}}
                        {{form.media}}
                    </div>

                    <div class="form-group">
                        <button class="btn btn-outline-primary" type="submit">
                            Create question
                        </button>
                    </div>
                </form>
            </div>
        </div>

    {% endblock content %}