{% extends 'base.html' %}
{% load static %}
{% load user_voted %}
{% load crispy_forms_filters %}

{% block title %}{{object.title|truncatechars:20}}{% endblock title %}


    {% block content %}
        <div class="container mt-4">
            
            {% include "forum/question.html" %}

            <a class="btn btn-primary mt-4 mb-4 ml-1" href="{% url 'answer-create' object.pk %}">
                Add answer
            </a>

            {% for answer in object.answer_set.all %}
                {% include "forum/answer.html" %}
            {% endfor %}

        </div>

        <script src="{% static 'forum/ajax-vote.js' %}"></script>

    {% endblock content %}