{% extends 'base.html' %}

{% block title %}Braincabin Forum{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <main>

        <div class="card border-primary">
            <div class="card-body d-flex justify-content-around">
            <div>
                Have a question?
                <a href="{% url 'question-create' %}" class="btn btn-primary">Ask</a>
            </div>
            <div>
                Missing a tag?
                <a href="" class="btn btn-primary">Add</a>
            </div>
            </div>
        </div>

        {% include 'forum/question_list_base.html' %}

        </main>

        {% include "pagination.html" %}

    </div>

{% endblock content %}
