{% extends 'base.html' %}

{% block title %}Braincabin Forum{% endblock title %}

{% block content %}
{% load user_voted %}
    <div class="container mt-4">
        <main>
            {% if questions %}
                {% for question in questions %}
                    <div class="card mt-4">
                        <a class="card-header" 
                            href="{% url 'question-detail' question.pk %}">
                            {{ question.title }}
                        </a>
                        <div class="card-body" id="question-{{ forloop.counter0 }}">{{ question.description|truncatechars:200|linebreaksbr }}</div>
                        <div class="card-footer d-flex">
                            <div class="mr-auto">
                                {{ question.upvotes.count }}
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="{{ question|user_upvoted_color:user }}" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                                </svg>
                                {{ question.downvotes.count }}
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="{{ question|user_downvoted_color:user }}" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                                </svg>
                            </div>

                            <div class="ml-auto">
                                <span class="text-muted">Asked by: </span>
                                <a href="#" class="link">{{ question.asked_by.username }}</a>
                                <span class="text-muted"> On </span>
                                {{ question.asked_on }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-danger container mt-4">Sorry, no questions yet :(</div>
            {% endif %}
        </main>

        {% include "pagination.html" %}

        <!-- Showdown JS Config -->
        <script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
        <script defer>
            const converter = new showdown.Converter()
            for (let i = 0; i < {{ questions|length }};i++){
                const target = document.getElementById('question-' + i.toString())
                const html = converter.makeHtml(target.innerText)
                const onlyText = html.replace(/<[^>]*>?/gm, '')
                target.innerHTML = onlyText
            }
        </script>

    </div>

{% endblock content %}
