{% extends 'base.html' %}
{% load static %}
{% load user_voted %}
{% load crispy_forms_filters %}

{% block title %}{{object.title|truncatechars:20}}{% endblock title %}


    {% block content %}
        <div class="container mt-4">
            
            {% include "forum/question.html" %}

            <a class="btn btn-primary mt-4 mb-4 ml-1" href="{% url 'answer-create' object.pk %}">
                Add answer
            </a>

            {% for answer in object.answer_set.all %}
                {% include "forum/answer.html" %}
            {% endfor %}

        </div>

        <!-- Showdown JS Config -->
        <script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
        <script defer>
            const converter = new showdown.Converter()
            processMarkdown('target')

            for (let i = 0; i < {{ object.answer_set.all|length }};i++){
                processMarkdown('answer-' + i.toString())
            }
            
            async function processMarkdown (targetID){
                const target = document.getElementById(targetID)
                const html = converter.makeHtml(target.innerText)
                const onlyText = html
                target.innerHTML = onlyText
            }

        </script>
        <script src="{% static 'forum/ajax-vote.js' %}"></script>

    {% endblock content %}