{% extends 'base.html' %}
{% load markdown_tags %}
{% load bleach_tags %}
{% block title %}{{object.username}} @ Braincabin{% endblock title %}

{% block content %}
<div class="container mt-4 mb-4">

    <div class="d-flex justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6">
            <div class="card mt-4 mb-4">
                <div class="card-body d-flex justify-content-between">

                    <div>
                        <h4>{{ object.username }}</h4>
                        {{object.name}}<br>
                        {{object.reputation}}<span class="text-muted small"> points of reputation</span> 
                    </div>

                    <div>
                        <div class="display">
                            Status: {{object.profile.status|lower|capfirst}}<br>
                            Institute: {{object.profile.institute|capfirst}}<br>
                            Joined on: {{object.join_date}}
                        </div>
                    </div>
                    {% if request.user == object %}
                        <a href="{% url 'profile-edit' %}">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                        </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-md-12 col-lg-6">
            <div class="card" style="height: 20rem;">
                <div class="card-header">Top Questions</div>
                <div class="card-body">
                    {% with object.top_questions as questions %}
                        {% if questions %}
                            <ul class="list-group list-group-flush">
                                {% for question in questions %}
                                    <li class="list-group-item d-flex justify-content-between">
                                        <a href="{{question.get_absolute_url}}">
                                            {{question.title|truncatechars:30}}
                                        </a>
                                        <span class="text-muted">{{question.get_score}}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            No questions yet.
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-6">
            <div class="card" style="height: 20rem;">
                <div class="card-header">Top Answers</div>
                <div class="card-body">
                    {% with object.top_answers as answers %}
                        {% if answers %}
                            <ul class="list-group list-group-flush">
                                {% for answer in answers %}
                                    <li class="list-group-item d-flex justify-content-between">
                                        <a href="{{answer.question.get_absolute_url}}">
                                            {{answer.text|convert_markdown|bleach:''|truncatechars:30}}
                                        </a>
                                        <span class="{% if answer == answer.question.accepted_answer %}text-success{% else %}text-muted{% endif %}">{{ answer.get_score }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            No answers yet.
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}
